/* GENERAL */
:root {
    --primary-color: #bbbbbb;
    --border-color: #dadce0;
    --link-color: #212529;
}
body {
    background: #ededed;
    padding-left: 1rem;
    padding-right: 1rem;
}
header,
footer {
    background-color: var(--primary-color);
    border-radius: 12px;
}
main {
    min-height: 100vh;
    min-height: calc(100vh - 126px);
    min-height: -moz-calc(100vh - 126px);
    min-height: -webkit-calc(100vh - 126px);
    position: relative;
}
a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
}
/* HEAD + NAVBAR */
#title {
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    text-align: center;
}
h2 {
    font-size: 1rem;
    margin-bottom: 0;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    margin: 1rem;
}
.nav-pills .nav-link {
    color: var(--link-color);
}
.nav-pills .nav-link.active {
    color: var(--link-color);
    background-color: var(--primary-color);
}
/* CONTENT TITLE + DECIMALS */
h3 {
    font-size: 1.5rem;
}
.decimals {
    width: 3rem;
    margin: 0 10px;
    padding: 1px 2px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    font-size: 0.8rem;
    text-align: center;
}
/* DATA TO BE CONVERTED */ 
dl.blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;    
}
dl.blocks dt {
    width: -webkit-fill-available;
    margin-top: 0.8rem;
    text-align: center;
}
dl.blocks dd {
    width: 9rem;
    height: fit-content;
    margin: 0.5rem;
    border: 1px solid var(--border-color);
}
dl.blocks dd input {
    width: -webkit-fill-available;
    text-align: center;
    border: 0;
    padding: 0.75rem 0;
}
dl.blocks dd input + label {
    width: -webkit-fill-available;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.25rem 0;
    margin-bottom: 0;
    border-top: 1px solid var(--border-color);
    background-color: #F8F9FA;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
